*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3EAE3;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* !-------------------------------------------------------------- */

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 720px;
    height: 600px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    overflow: hidden;
}

@media (max-width: 600px) {
    .card{
        width: 375px;
        height: auto;
    }

    .product{
        width: 100% !important;
        height: auto;
        padding: 30px;
    }


    .image{
        background-image: url(./images/image-product-mobile.jpg) !important;
        width: 100% !important;
        height: 300px !important;
    }
}
    

/* !-------------------------------------------------------------- */


.image{
    position: absolute;
    width: 50%;
    height: 600px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
}

.product{
    position: inherit;
    left: 50%;
    width: 50%;
    padding: 30px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

/* !-------------------------------------------------------------- */

.perfume{
    font-size: 14px;
    font-weight: 500;
    color: hsl(226, 9%, 53%);
    text-transform: uppercase;
    letter-spacing: 8px;
}

.title{
    font-family: 'Fraunces', serif;
    line-height: 45px;
    font-size: 45px;
    font-weight: 700;
    width: 90%;
    height: auto;
}

.description{
    font-size: 16px;
    color: hsl(226, 9%, 53%);
    width: 90%;
    height: auto;
    line-height: 25px;
}

/* !-------------------------------------------------------------- */

.normal-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 40px;
}

.discount-muted{
    color: hsl(231, 11%, 64%);
    font-size: 20px;
    text-decoration: line-through;
    position: relative;
    left: 20px;
    bottom: 10px;
}

/* !-------------------------------------------------------------- */

.btn{
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: #fff;
    height: 50px;
    width: 95%;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(158, 57%, 22%);
}

.icon-cart{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.cart-text{
    font-size: 16px;
    font-weight: 700;
    position: relative;
    bottom: 4px;
}

/* !-------------------------------------------------------------- */